{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <div action="/history" class="section">
        <table>
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Symbol</th>
                    <th>Shares</th>
                    <th>Value/Share</th>
                    <th>Price</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for index in range(history|length) %}
                <tr>
                    <td>{{ history[index].date }}</td>
                    <td>{{ history[index].stock }}</td>
                    <td>{{ history[index].shares }}</td>
                    <td>{{ values[index] }}</td>
                    <td>{{ prices[index] }}</td>
                    <td>{{ history[index].action }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
